<header style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 30px; border-bottom: 2px solid #eee; padding-bottom: 20px;">
    <div class="logo">
        <img src="data:image/png;base64,<%= logoBase64 %>" alt="Casulo Logo" style="height: 60px;">
    </div>
    <div class="company-info" style="text-align: right; font-size: 10px; color: #555; line-height: 1.4;">
        <strong style="font-size: 12px; color: #000;">Casulo Indústria e Comércio de Móveis Ltda</strong><br>
        Rua Acadêmico Reinaldo Consoni, Nº 681, casa<br>
        88037100 - Florianópolis, SC<br>
        Telefone: (48) 3371-1349<br>
        CNPJ: 19.700.880/0001-37
    </div>
</header>
